html {
    min-height: 100vh;
    background: rgb(217, 224, 229);
}

p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}



